.TeacherForm {
    margin: 50px;
    
    md-input-container{
        margin: 10px;
    }
    .submitButton , app-students {
        margin-top: 20px;
    }
    .error {
        color: red;
        padding: 5px;
        font-size: 10px;
    }
}





